<form action="/settings/<%= guild.id %>" method="POST">
    <h3>إعدادات التكت</h3>
    <input type="number" name="ticketCount" value="<%= config.ticketCount %>">
    <select name="ticketChannelId">
        <% channels.forEach(ch => { %>
            <option value="<%= ch.id %>" <%= config.ticketChannelId === ch.id ? 'selected' : '' %>># <%= ch.name %></option>
        <% }) %>
    </select>
    <button type="submit">حفظ الإعدادات لكل السيرفرات</button>
</form>
